@use 'abstracts/__abstracts-dir';
@use 'component-styles/header';
@use 'component-styles/hero';
@use 'component-styles/home';
@use 'component-styles/events';
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

//TODO-import variables correctly

* {
  padding: 0;
  margin: 0;
}

body {
  // overflow: hidden;
}
.title {
  font-family: "Limelight", cursive;
}
