.hero {
  height: auto;
  justify-items: end;
  position: relative;
  z-index: 2;
  h2 {
    padding-top: 50vh;
    padding-left: 2vw;
    font-size: 16px;
    color: white;
    mark {
      background: black;
      color: white;
      padding-left: 5px;
      padding-right: 5px;
    }
    a {
      color: white;
    }
  }
  p {
    //TODO - extra padding under hero on desktop
    background-color: #040e18;
    color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    line-height: 2.2em;
    letter-spacing: 0.11rem;
    padding-left: 10vw;
    padding-right: 10vw;
    span {
      font-weight: bold;
    }
    span:nth-of-type(1) {
      background-color: rgb(213, 69, 43);
      color: white;
      padding: 5px;
    }
    span:nth-of-type(2) {
      background-color: rgb(62, 130, 189);
      color: white;
      padding: 5px;
    }
    span:nth-of-type(3) {
      background-color: rgb(63, 138, 97);
      color: white;
      padding: 5px;
    }
  }
}

@media only screen and (min-width: 612px) {
  .hero {
    height: fit-content;
    display: grid;
    grid-template-columns: 20vw 80vw;
    background: linear-gradient(
      90deg,
      #040e18 30vw,
      rgba(253, 29, 29, 0) 59%,
      rgba(3, 0, 45, 0) 86%
    );

    h2 {
      padding-top: 60vh;
      padding-left: 40vw;
    }
    #bgImg {
      grid-column-start: 2;
      opacity: 1 !important;
    }

    p {
      background-color: transparent;
      position: absolute;

      padding-left: 5vw;
      padding-right: 5vw;

      max-width: 60vw;
      font-size: 1.3rem;
      top: 25%;
      left: 0;
    }
  }
}

@media only screen and (min-width: 812px) {
  .hero {
    grid-template-columns: 10vw 90vw;

    background: linear-gradient(
      90deg,
      #040e18 40vw,
      rgba(253, 29, 29, 0) 59%,
      rgba(3, 0, 45, 0) 86%
    );

    h2 {
      padding-top: 70vh;
    }

    p {
      max-width: 50vw;
      font-size: 1.7rem;
    }
  }
}
@media only screen and (min-width: 1124px) {
  .hero {
    grid-template-columns: 10vw 90vw;

    background: linear-gradient(
      90deg,
      #040e18 50vw,
      rgba(253, 29, 29, 0) 59%,
      rgba(3, 0, 45, 0) 86%
    );

    h2 {
      padding-top: 80vh;
    }

    p {
      max-width: 40vw;
      top: 30%;
      font-size: 2rem;
    }
  }
}
